-
	var
	brandName = 'Techsoft',
	logoDefault = 'logo-default-95x80',
	logoMobile = 'logo-mobile-170x50',
	postLink = 'blog-post.html',
	getTemplateLink = '#get-template-link',
	menu = [
		{
			title: 'About',
			category: 'about'
		},
		{
			title: 'Services',
			category: 'services'
		},
		{
			title: 'Pricing',
			category:'pricing'
		},
		{
			title: 'Promos',
			category: 'promos',
			link: 'promos.html'
		},
		{
			title: 'Blog',
			category: 'blog',
			dropdown: [
				{ title: 'Blog post' }
			]
		},
		{
			title: 'Pages',
			category: 'pages',
			link: '#',
			megamenu: [
				{
					title: 'Pages 1',
					list: [
						{title: 'FAQ'},
						{ title: 'Login' },
						{ title: 'Cart page' }
					]
				},
				{
					title: 'Pages 2',
					list: [
						{ title: '404 page' },
						{ title: '503 page' },
						{ title: 'Coming soon' },
						{ title: 'Maintenance' },
						{ title: 'Privacy policy' },
						{ title: 'Search results' }
					]
				},
				{
					title: 'Elements',
					list: [
						{ title: 'Buttons' },
						{ title: 'Forms' },
						{ title: 'Grid system' },
						{ title: 'Progress bars' },
						{ title: 'Tables' },
						{ title: 'Tabs and Accordions' },
						{ title: 'Typography' }
					]
				}
			]
		},
		{
			title: 'Contact Us',
			category: 'contact-us'
		}
	]
