//- Includes
include ../elements/_ui-box-alice

.col-md-6.col-lg-4
	+box-alice({
		icon: 'linearicons-cog',
		title: 'High Quality Hardware'
	})
		p We use top-notch hardware to develop the most efficient apps for our customers.

.col-md-6.col-lg-4
	+box-alice({
		icon: 'linearicons-headset',
		title: 'Dedicated 24\\7 Support'
	})
		p You can rely on our 24/7 tech support that will gladly solve any app issue you may have.

.col-md-6.col-lg-4
	+box-alice({
		icon: 'linearicons-wallet',
		title: '30-Day Money-back Guarantee'
	})
		p If you are not satisfied with our apps, we will return your money in the first 30 days.
.col-md-6.col-lg-4
	+box-alice({
		icon: 'linearicons-rocket',
		title: 'Agile and Fast Working Style'
	})
		p This type of approach to our work helps our specialists to quickly develop better apps.

.col-md-6.col-lg-4
	+box-alice({
		icon: 'linearicons-phone',
		title: 'Some Apps are Free'
	})
		p We also develop free apps that can be downloaded online without any payments.

.col-md-6.col-lg-4
	+box-alice({
		icon: 'linearicons-thumbs-up',
		title: 'High Level of Usability'
	})
		p All our products have high usability allowing users to easily operate the apps.

