.pricing-table.pricing-table-classic
	// Pricing table item
	article.pricing-table__item.pricing-table-classic__item
		.pricing-table__item-header
			p.pricing-table__item-title Basic

		.pricing-table__item-price
			span.pricing-table__item-price-currency $
			span.pricing-table__item-price-value 399
			.pricing-table__item-price-aside
				span.top 99


		ul.pricing-table__item-features
			li
				span.text-marked Concept development
					br
					| UI design
			li
				| Configuration management
			li
				| Software quality assurance
			li
				| App integration

		.pricing-table__item-control
			a.button.button-default.button-ujarak(href='#') Order now

	// Pricing table item
	article.pricing-table__item.pricing-table-classic__item.pricing-table-classic__item_prefered
		.pricing-table__item-header
			.pricing-table__item-label Bestseller
			p.pricing-table__item-title Optimal

		.pricing-table__item-price
			span.pricing-table__item-price-currency $
			span.pricing-table__item-price-value 599
			.pricing-table__item-price-aside
				span.top 99


		ul.pricing-table__item-features
			li
				span.text-marked Concept development
					br
					|UI design
			li
				span.text-marked Configuration management
			li
				span.text-marked Software quality assurance
			li
				| App integration


		.pricing-table__item-control
			a.button.btn-primary(href='#') Order now

	// Pricing table item
	article.pricing-table__item.pricing-table-classic__item
		.pricing-table__item-header
			p.pricing-table__item-title Ultimate

		.pricing-table__item-price
			span.pricing-table__item-price-currency $
			span.pricing-table__item-price-value 999
			.pricing-table__item-price-aside
				span.top 99


		ul.pricing-table__item-features
			li
				span.text-marked Concept development
					br
					| UI design
			li
				span.text-marked Configuration management
			li
				span.text-marked Software quality assurance
			li
				span.text-marked App integration

		.pricing-table__item-control
			a.button.button-default.button-ujarak(href='#') Order now