.pricing-table.pricing-table-creative
  // Pricing table item
  article.pricing-table__item.pricing-table-creative__item: .pricing-table__item-inner
    p.pricing-table__item-title Basic

    .pricing-table__item-price
      p.pricing-table__item-price-value
        span.small $
        span 399.99
      p.pricing-table__item-price-details starting at

    .pricing-table__item-control: .button-wrap
      a.button.btn-primary-outline.button-ujarak(href='#') Order now

    ul.pricing-table__item-features
      li
        span.text-marked Concept development
      li
        span.text-marked UI design
      li
        span Configuration management
      li
        span Software quality assurance

  // Pricing table item
  article.pricing-table__item.pricing-table-creative__item.pricing-table-creative__item_prefered: .pricing-table__item-inner
    p.pricing-table__item-title Optimal

    .pricing-table__item-price
      p.pricing-table__item-price-value
        span.small $
        span 599.99
      p.pricing-table__item-price-details starting at

    .pricing-table__item-control: .button-wrap
      a.button.btn-white-outline.button-ujarak(href='#') Order now

    ul.pricing-table__item-features
      li
        span.text-marked Concept development
      li
        span.text-marked UI design
      li
        span.text-marked Configuration management
      li
        span.text-accent Software quality assurance

  // Pricing table item
  article.pricing-table__item.pricing-table-creative__item: .pricing-table__item-inner
    p.pricing-table__item-title Ultimate

    .pricing-table__item-price
      p.pricing-table__item-price-value
        span.small $
        span 999.99
      p.pricing-table__item-price-details starting at

    .pricing-table__item-control: .button-wrap
      a.button.btn-primary-outline.button-ujarak(href='#') Order now

    ul.pricing-table__item-features
      li
        span.text-marked Concept development
      li
        span.text-marked UI design
      li
        span.text-marked Configuration management
      li
        span.text-marked Software quality assurance