.row.row-30.justify-content-md-center
  .col-md-6.col-lg-4
    // Pricing table item
    article.pricing-table__item.pricing-table-modern__item
      .pricing-table__item-header
        .pricing-table__item-header-bg: .pricing-table__item-header-bg-inner
        p.pricing-table__item-title Basic

      .pricing-table__item-main
        .pricing-table__item-price
          span.pricing-table__item-price-currency $
          span.pricing-table__item-price-value 399
          .pricing-table__item-price-aside
            span.top 99
        .pricing-table__item-divider
        ul.pricing-table__item-features
          li
            span.text-marked Concept development
          li
            span.text-marked UI design
          li
            span Configuration management
          li
            span Software quality assurance

        .pricing-table__item-control
          a.button.button-default.button-ujarak(href='#') Order now

  .col-md-6.col-lg-4
    // Pricing table item
    article.pricing-table__item.pricing-table-modern__item.pricing-table-modern__item_prefered
      .pricing-table__item-header
        .pricing-table__item-header-bg: .pricing-table__item-header-bg-inner
        p.pricing-table__item-title Optimal

      .pricing-table__item-main
        .pricing-table__item-price
          span.pricing-table__item-price-currency $
          span.pricing-table__item-price-value 599
          .pricing-table__item-price-aside
            span.top 99
        .pricing-table__item-divider
        ul.pricing-table__item-features
          li
            span.text-marked Concept development
          li
            span.text-marked UI design
          li
            span.text-marked Configuration management
          li
            span Software quality assurance

        .pricing-table__item-control
          a.button.button-primary.button-ujarak(href='#') Order now

  .col-md-6.col-lg-4
    // Pricing table item
    article.pricing-table__item.pricing-table-modern__item
      .pricing-table__item-header
        .pricing-table__item-header-bg: .pricing-table__item-header-bg-inner
        p.pricing-table__item-title Ultimate

      .pricing-table__item-main
        .pricing-table__item-price
          span.pricing-table__item-price-currency $
          span.pricing-table__item-price-value 999
          .pricing-table__item-price-aside
            span.top 99

        .pricing-table__item-divider
        ul.pricing-table__item-features
          li
            span.text-marked Concept development
          li
            span.text-marked UI design
          li
            span.text-marked Configuration management
          li
            span.text-marked Software quality assurance

        .pricing-table__item-control
          a.button.button-default.button-ujarak(href='#') Order now