// Swiper
section.section.swiper-container.swiper-slider.swiper_style-1.swiper_height-1.swiper-controls-classic(
data-loop='true'
data-autoplay='5000'
data-simulate-touch='false')
	.swiper-wrapper
		.swiper-slide.bg-image-dark(data-slide-bg='images/buffaloLarge.png')
			.swiper-slide-caption
				.container.text-left
					.row.justify-content-center
						.col-md-10.col-sm-12
							h1(data-caption-animate='fadeInUpSmall') Welcome to TechSoft
							p.quote-classic__text.call-subtitle_text(data-caption-animate='fadeInUpSmall' data-caption-delay='200')
								|Since our establishment, we have been delivering high-quality and
								br
								|sustainable software solutions for corporate business purposes.
								span.group-item
							a.button.button-lg.button-primary(href='hosting.html' data-caption-animate='fadeInUpSmall' data-caption-delay='250') Read More

		.swiper-slide.bg-image-dark(data-slide-bg='images/slider-classic-slide-2-1920x710.jpg')
			.swiper-slide-caption
				.container.text-left
					.row.justify-content-center
						.col-md-10.col-sm-12
							h1(data-caption-animate='fadeInUpSmall') Award-Winning Software
							p.quote-classic__text.call-subtitle_text(data-caption-animate='fadeInUpSmall' data-caption-delay='200')
								| The software solutions developed by our company have been
								br
								| numerously awarded for usability and innovative features.
								span.group-item
							a.button.button-lg.button-primary(href='hosting.html' data-caption-animate='fadeInUpSmall' data-caption-delay='250') Read More

	.swiper-pagination

	.swiper-button-prev
	.swiper-button-next
